<br><br>
<h3 id="titulo1"><strong>1. INTRODUCCIÓN</strong></h3>
<p>El presente documento se propone como un sencillo y práctico instrumento para acompañar la experiencia que, nuestras
    comunidades educativas vivirán en el Campamento CAMPOBOSCO; a realizarse en la Hacienda Picarquín, ubicada en Casas
    de Peuco s/n, San Francisco de Mostazal, Región del Libertador Bernardo O'Higgins.; desde el miércoles 30 de octubre
    al domingo 03 de noviembre de 2024. </p>
<p>Queremos que nuestro encuentro sea una instancia formativa y celebrativa de crecimiento en el sentido de pertenencia
    a nuestro Movimiento Juvenil Salesiano, en vista a la próxima celebración de los 50 años; desde el buen trato,
    acogida, sana formación, entretención y seguridad para todos. </p>
<p>Es así que se ha redactado este documento &quot;Reglamento para campamentos SDB-FMA''; a partir de las
    &quot;Orientaciones al Pueblo de Dios para el Servicio Eclesial (ISE)&quot;, la serie &quot;Guía Cuidado y
    Esperanza&quot;, las &quot;Normas y Procedimientos en Caso de Acusaciones de Cualquier Naturaleza en Materia
    Eclesiástica contra Religiosos y Religiosas&quot; y a la luz del Sistema Preventivo, que hemos heredado de nuestro
    Padre Don Bosco y nuestra Madre María Dominga Mazzarello.</p>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h3 id="titulo2">2. <strong>REGLAMENTACIÓN</strong><strong> </strong></h3>
<h4 id="subtitulo1">2.1 Sobre los(as) participantes del campamento FMA y SDB</h4>
<ol type="a">
    <li>
        <h5><strong>Comisión Organizadora: </strong></h5>

        <p>Corresponde a las personas encargadas del campamento. Velar por el correcto funcionamiento y logística de las
            actividades organizadas, así como resguardar el cumplimiento del reglamento y protocolo para favorecer un
            buen ambiente y correcto desarrollo del campamento.</p>
        <p>Está conformado por las siguientes Coordinaciones, cuyas(os) responsables son: </p>
        <ul>
            <li>Coordinación General: Sor Karen Vivanco FMA y Padre David Rivera SDB. </li>
            <li>Coordinación Administración y Logística: Fredy Araya y Juan Pablo Orchard </li>
            <li>Coordinación Formación: Manuel Venegas y Sor Luisa Vargas </li>
            <li>Coordinación Liturgia: Padre Daniel Cerda y Sor Victoria Romero </li>
            <li>Coordinación Animación: Fabila Tabilo y Sor catalina Baez </li>
            <li>Coordinación Comunicaciones: Sor Susana Diaz y Felipe Valdez </li>
            <li>Coordinación de Ambiente: Cristian Saldias y Karin Cañon </li>
        </ul>
        <h4>Coordinación de Ambiente general Día, liderada por Karin Cañón: Coordinadores por zona diurno: </h4>
        <ul>
            <li>Zona l: Marcela Vera</li>
            <li>Zona 2: Favio Fatigante</li>
            <li>Zona 3: Claudia López </li>
            <li>Zona 4: Fabián Valdebenito</li>
            <li>Zona 5: Sergio Tapia </li>
        </ul>
        <h4>Coordinación de ambiente general Noche, liderada por Cristian Saldias Vejares: </h4>
        <ul>
            <li>Zona 1: Apoderados UNCEPAMAUX</li>
            <li>Zona 2: Apoderados UNCEPAMAUX</li>
            <li>Zona 3: Apoderados UNCEPAMAUX</li>
            <li>Zona 4: Apoderados UNCEPAMAUX</li>
            <li>Zona 5: Apoderados UNCEPAMAUX </li>
        </ul>

        <h4><br>
            <strong>Las Funciones Encargados Diurnos de zona, son: <br>
            </strong>
        </h4>

        <ol>
            <li><strong>Supervisión de las actividades: </strong>Supervisar el desarrollo de las actividades, asegurando
                que se lleven a cabo de manera segura. <br>
                Supervisar cada salida de la zona que tienen al cuidado, revisar todo el lugar antes de retirarse para
                que el encargado de zona se dirija a otra actividad. </li>
            <li><strong>Atención a los participantes: </strong>Velar por el bienestar y la seguridad de los niños y
                jóvenes participantes en la zona, atendiendo a sus necesidades físicas, emocionales y sociales después
                de la contención de los primeros adultos a cargo. </li>
            <li><strong>Gestión de conflictos: </strong>Resolver conflictos que puedan surgir entre los participantes de
                manera pacífica y constructiva, promoviendo el diálogo y la comprensión después que haya pasado por la
                mediación de los adultos responsables a cargo. </li>
            <li><strong>Motivación y </strong><strong>entusiasmo: </strong>Motivar a los participantes y generar un
                ambiente positivo y entusiasta en la zona.</li>
            <li><strong> Fomento de la convivencia: </strong>Fomentar la convivencia entre los participantes, creando un
                espacio de respeto, tolerancia y colaboración.</li>
            <li><strong>Mantenimiento de la zona</strong>:
                <ol type=>
                    <li>Motivar a limpiar y ordenar la zona, asegurando un entorno seguro e higiénico para los
                        participantes.</li>
                    <li>Resguardando que no quede ningún joven o niño en la zona. </li>
                </ol>
            </li>
            <li><strong>Control de los tiempos:</strong>
                <ol type="a">
                    <li>Monitorear el desarrollo de las actividades, en diálogo con los coordinadores del CAMPOBOSCO.
                    </li>
                    <li>identificación de desviaciones: Identificar cualquier desviación del cronograma y tomar las
                        medidas correctivas necesarias para ajustarlo. </li>
                </ol>
            </li>
            <li><strong>Comunicación Huida con Coordinador de Ambiente:</strong>
                <ol type="a">
                    <li>Mantener comunicación constante y fluida con los coordinadores de ambiente del CAMPOBOSCO.</li>
                    <li>Con equipo de evangelización local, coordinador de pastoral y secretario de pastoral de cada
                        comunidad. </li>
                </ol>
            </li>

        </ol>

        <h4><strong>Cualidades del encargado de zona de día: </strong></h4>
        <ul>
            <li><strong>Energía </strong><strong>y </strong><strong>entusiasmo: </strong>Ser una persona con mucha
                energía y entusiasmo, capaz de contagiar su alegría a los participantes.</li>
            <li><strong>Creatividad: </strong>Ser una persona creativa e innovadora, capaz de proponer y desarrollar
                actividades nuevas y atractivas para los participantes.</li>
            <li><strong>Paciencia: </strong>Ser una persona paciente y comprensiva, capaz de manejar situaciones de
                estrés con calma.</li>
            <li><strong>Empatía: </strong>Ser una persona empática y capaz de comprender las necesidades de los niños y
                jóvenes.</li>
            <li><strong>Habilidades de comunicación: </strong>Ser una persona con buenas habilidades de comunicación,
                capaz de expresarse de manera clara y efectiva.</li>
            <li><strong>Liderazgo: </strong>Ser una persona con habilidades de Liderazgo Generativo, capaz de motivar e
                inspirar a los niños y jóvenes.</li>
            <li><strong>Mirada Preventiva: </strong>Ser una persona que vele por el resguardo de los niños y jóvenes del
                campamento</li>
        </ul>
        <h4><strong>Funciones Encargados Nocturno de zona</strong></h4>
        <h5>Funciones específicas del turno nocturno: </h5>
        <ul>
            <li><strong>Vigilancia </strong><strong>y </strong><strong>seguridad: </strong>Realizar rondas nocturnas
                para garantizar la seguridad de los participantes y las instalaciones del campamento. </li>
            <li><strong>Atención a emergencias: </strong>Responder a emergencias médicas o de seguridad que puedan
                surgir durante la noche. </li>
            <li><strong>Apoyo emocional: </strong>Brindar apoyo emocional a los niños y jóvenes que puedan sentir miedo
                o ansiedad durante la noche. </li>
            <li><strong>Fomento de la convivencia: </strong>Crear un ambiente nocturno tranquilo y acogedor para
                favorecer la convivencia entre los participantes. </li>
            <li><strong>Comunicación fluida con Coordinador de Ambiente: </strong>Mantener comunicación constante y
                fluida con los coordinadores de ambiente del campo Bosco. </li>
        </ul>
        <h4>Cualidades del encargado de campamento nocturno:</h4>
        <ul>
            <li><strong>Responsabilidad: </strong>Ser una persona responsable y comprometida con el bienestar de los
                niños y jóvenes.</li>
            <li><strong>Madurez: </strong>Ser una persona madura y con capacidad para tomar decisiones acertadas en
                situaciones difíciles.</li>
            <li><strong>Paciencia: </strong>Ser una persona paciente y comprensiva, capaz de manejar situaciones de
                estrés con calma.</li>
            <li><strong>Empatía: </strong>Ser una persona empática y capaz de comprender las necesidades de los niños y
                jóvenes.</li>
            <li><strong>Habilidades de comunicación: </strong>Ser una persona con buenas habilidades de comunicación,
                capaz de expresarse de manera clara y efectiva.</li>
            <li><strong>Liderazgo: </strong>Ser una persona con habilidades de Liderazgo Generativo, capaz de motivar e
                inspirar a los niños y jóvenes </li>
        </ul>

    <li>
        <h3><strong>&nbsp;Educador, asesor y/o responsable de la delegación</strong></h3>


        <p>Corresponden a los adultos que acompañan a la delegación, vela por la seguridad y el bienestar de los niños
            y/o jóvenes que tienen a su cuidado y, además, según el sistema preventivo, son los responsables de asistir
            a los niños/as, adolescentes y/o jóvenes durante el desarrollo del campamento. </p>
        <p>En caso de que haya más de un adulto acompañando la delegación, será necesario designar a un representante
            para efectos de organización y/o comunicación. </p>
        <p>Es quien, como responsable de la delegación de su comunidad educativa, cuenta con las autorizaciones de los
            padres y/o apoderados de los participantes y las respectivas fichas médicas de cada uno/a. </p>
    </li>
    <li>
        <h3>Participantes </h3>
        <p>Corresponde a los niños/as, adolescentes y jóvenes, miembros de las comunidades educativas sean alumnos/as o
            ex alumnos/as. </p>
    </li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo2">2.2. Normativas generales en la celebración de un campamento FMA- SDB.</h4>
<ol type="a">
    <li>Crear un buen ambiente; mediante el cuidado y la prevención del acoso y/o maltrato verbal, psicológico, físico o
        tecnológico, a lo largo de todo el campamento, con el fin de promover una cultura del buen trato.</li>
    <li>Las diversas experiencias del campamento deben desarrollarse en lugares públicos y visibles; incluso las
        conversaciones privadas o de acompañamiento personal, respetando el espíritu del Sistema Preventivo y la
        Asistencia Salesiana.</li>
    <li>El uso de los baños y camarines por menores y adultos, se debe realizar siempre en horarios diferidos los cuales
        serán organizados dentro de los mismos encargados de comunidad.</li>
    <li>En el caso que el evento tenga un carácter mixto (sea de género y/o edad), tanto las carpas y dormitorios deben
        diferenciarse. Asimismo, los adultos que asisten o pernoctan en los dormitorios, deben ser del mismo género de
        los niños(as) y/o jóvenes que asisten al evento. </li>
    <li>El material audiovisual registrado por el equipo de Comunicaciones podrá ser usado en las redes sociales
        oficiales de la Inspectoría y las comunidades educativas (Instagram, Facebook, Youtube, pagina web, otros
        oficiales) con el fin de socializar la actividad.</li>
    <li>El campamento contará con un lugar de acogida en donde se dispondrán de los insumos necesarios para la atención,
        junto con un cuaderno digital o físico que permita el registro de las atenciones. El encargado de zona será el
        responsable de llevar a nino o joven al lugar de acogida comunicando en forma inmediata al coordinador de
        ambiente</li>
    <li>Cada uno de los educadores y/o asesores y participantes del campamento, deben hacerse responsables de sus
        pertenencias u objetos de valor. La Comisión Organizadora no se hará responsable por la pérdida o daño de éstos.
    </li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo3">2.3. Sobre los deberes en el campamento</h4>
<h4>2.3.1. De los educadores y/o asesores de las comunidades</h4>
<ul>
    <li>Por cada 10 estudiantes, debe existir la presencia de un adulto<sup><a href="#pie1" id="ref1"
                class="footnote-ref">1</a></sup>, que acompañe la experiencia de manera permanente, que colabore con la
        asistencia salesiana activamente y que sea un referente ante el cual los menores pueden recurrir ante alguna
        dificultad.</li>
    <li>Para el logro de los objetivos de la experiencia, es siempre mejor incentivar que amenazar o descalificar. A la
        luz del Sistema Preventivo, se debe apelar siempre a motivos razonables; explicar el porqué de las normas o de
        las exigencias y cuidar que las ordenes puedan realmente ser cumplidas.</li>
    <li>El educador y/o responsable de la delegación debe ubicarse en lugares estratégicos que le permitan tener una
        visión amplia de lo que sucede en las actividades de los jóvenes.</li>
    <li>Es desaconsejable, a lo largo del campamento, pasar un tiempo desproporcionado con
        cualquier menor o grupo particular de menores, en relacion con las exigencias concretas de la actividad que se
        realiza. Asimismo, se debe evitar diálogos personales, con menores
        después de la cena o en la noche.</li>
    <li>Los educadores y/o asesores, educados en prevención, deben estar atentos y saber reconocer los signos o senales
        de posibles abusos. De la misma forma, los menores deben<br>
        estar atentos a comportamientos y/o gestos inadecuados<sup><a href="#pie2" id="ref2"
                class="footnote-ref">2</a></sup>.</li>
    <li>El educador(a) y/o asesor(a) responsable de la delegación debe contar con la Documentacion del Seguro Escolar
        (en el caso que corresponda) y su correspondiente registro, junto a la Ficha Médica de cada uno de los
        niños(as), adolescentes y jóvenes a su cargo.</li>
    <li>Los educadores y/o asesores deben generar espacios de diálogo y validación sobre situaciones incómodas o
        complejas que puedan presentar los jóvenes, teniendo siempre en cuenta los procesos comunicativos del niño/a,
        adolescente y joven. </li>
    <li>Los educadores y/o asesores deben procurar el cuidado y mantención de los espacios, el mobiliario y materiales
        que serán utilizados durante el campamento (Baños , comedores etc.). En caso de daño o destrozos de los
        elementos señalados, el responsable deberá asumir la restitución material o monetaria del mismo.</li>
    <li>Los educadores y/o asesores, son los responsables de mantener la comunicación oficial con la familia de los
        ninos(as), adolescentes y jóvenes a su cargo.</li>
    <li>Ante situaciones relacionadas con la actividad en la cual participan, el educador, asesor y/o responsable de la
        delegación, puede acudir al encargado de zona y miembros de la coordinación del campamento.</li>
    <li>En caso de que se cometiera delito que afectare a los estudiantes o que hubieren tenido lugar en el campamento,
        estan obligados a denunciar el coordinador general del campamento, dicho delito, en cumplimiento del artículo
        175 letra e) del Código Procesal Penal.</li>
    <li>Como Movimiento Juvenil Chile, nos unimos al llamado por cuidar nuestra Casa Común y, por ende, esta
        experiencia; como un lugar seguro para todas y todos los participantes. Por este motivo, a los mayores de 18
        anos en adelante, se solicitara el Certificado de Idoneidad para trabajar con menores de edad.</li>
</ul>
<h4><strong>2.3.2. </strong><strong>De los participantes</strong><strong> </strong></h4>
<ol type="a">
    <li> Los niños/as, adolescentes y/o jóvenes deben participar y acoger las propuestas, actividades y respectivos
        horarios que se llevan adelante durante el campamento.
    </li>
    <li>Los participantes deben mantener una actitud de respeto entre pares y hacia los adultos, acogiendo las
        instrucciones e indicaciones señaladas.</li>
    <li> Los participantes deben procurar el cuidado y mantención de los espacios, el mobiliario y materiales que serán
        utilizados durante el campamento. En caso de daño o destrozos de los elementos señalados, el responsable deberá
        asumir la restitución material o monetaria del mismo.</li>
    <li>Todos los niños/as y jóvenes están comprometidos a reportar comportamientos inapropiados o sospecha de abuso o
        maltrato. </li>
    <li> En el caso de que los participantes sean testigos o experimenten alguna situación de violencia u otra que sea
        considerada grave, deben acudir al representante de su delegación, quien se dirigirá al encargado de zona, quien
        procederá según los protocolos para la situación en particular<sup><a href="#pie3" id="ref3"
                class="footnote-ref">3</a></sup>. </li>
    <li>Como Movimiento Juvenil Chile, nos unimos al llamado por cuidar nuestra Casa Común y, por ende, esta
        experiencia; como un lugar seguro para todas y todos los participantes. Por este motivo, a los mayores de 18
        años en adelante, se solicitará el Certificado de Idoneidad para trabajar con menores de edad. </li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo4">2.4 Sobre las prohibiciones en el campamento. </h4>
<h5>2.4.1 De los educadores y/o asesores de las comunidades:</h5>
<ol type="a">
    <li>En el campamento, todos los participantes menores merecen ser tratados con igual respeto, por lo tanto, el
        educador y/o asesor nunca debe dirigirse a los jóvenes con sobrenombres que humillen o afecten a la otra
        persona. Asimismo, hay que evitar todo tipo de favoritismo.</li>
    <li>No deben llamar la atención o tener arrebatos de ira, perdiendo el control. Los castigos físicos son
        inadmisibles. </li>
    <li> En el contexto del campamento, el uso de los espacios asignados como dormitorio será compartido por la
        delegación, incluyendo los adultos responsables, quienes deben, dentro del espacio asignado, respetar la
        privacidad y espacio personal de los integrantes de la delegación que está a su cargo.</li>
    <li> Ningún Asesor o miembro de alguna delegación, por motivo alguno, debe proporcionar alcohol, cigarrillo o drogas
        a menores. Del mismo modo, ningún encargado del trabajo con menores puede permitirse el uso de alcohol,
        cigarrillo o drogas mientras ejerce su trabajo o fuera de él.</li>
    <li>Se prohíbe expresamente regalar dinero u otros objetos de valor a algún menor en particular, a menos que se haga
        con el conocimiento y consentimiento de sus padres.</li>
    <li> El educador, asesor o responsable de la delegación, durante el campamento, no debe transportar en vehículo a
        un(a) menor sin la presencia de otro adulto, o al menos de otros jóvenes. Salvo, excepciones por motivos de
        fuerza mayor autorizadas por la comisión organizadora.</li>
    <li> El educador, asesor o responsable de la delegación, procurando amabilidad y el buen trato, debe evitar toda
        actitud o expresión de afecto que pueda vulnerar la integridad del niño(a), adolescente, joven u otro adulto
        vulnerable.</li>
</ol>
<h4>2.4.2. De los participantes</h4>
<ol type="a">
    <li>Por ningún motivo se permite el consumo de alcohol, cigarrillo o sustancias ilícitas.</li>
    <li>Se prohíbe expresamente recibir dinero u otros objetos de valor a algún adulto en particular, a menos que se
        haga con el conocimiento y consentimiento de los padres.</li>
    <li> No estará permitido salir del recinto donde se lleva a cabo el campamento, sin la supervisión o autorización
        del representante de su delegación e informado a la Comisión Organizadora.</li>
    <li>Se prohíbe toda actitud o expresión de afecto que pueda vulnerar la integridad de los participantes en el
        campamento.</li>
</ol>
<h4>2.4.3 Comunicación digital Inadecuada. (Colaboradores y Participantes)</h4>
<ul>
    <li> Comentarios duros, amenazantes, intimidatorios, vergonzosos, despectivos, degradantes o humillantes.</li>
    <li> Conversaciones de índole sexual.</li>
    <li> Mensajes privados de adultos con niños o educador y niño y adolescente.</li>
    <li> Publicar comentarios inapropiados e imágenes que atenten contra la dignidad del ser humano.</li>
    <li> Interacciones verbales inapropiadas.</li>
    <li> Poner sobrenombres.</li>
    <li> Hablar de encuentros sexuales.</li>
    <li> Involucrar a los usuarios en problemas personales.</li>
    <li> Guardar secretos o pedir a niños y jóvenes que guarden secretos.</li>
    <li> Hablar con insultos o garabatos.</li>
    <li> Chistes sexuales no adecuados o discriminatorios.</li>
    <li> Avergonzar.</li>
    <li> Crear imágenes de IA (Inteligencia artificial), que denigre la dignidad de la persona humana.</li>
    <li> Menospreciar o humillar.</li>
    <li> Comentarios despectivos.</li>
    <li>Lenguaje duro que pueda amenazar o humillar a los participantes.</li>
    <li> Elogios relacionados con el desarrollo físico o corporal.</li>
    <li>Uso del celular para comunicarse excesivamente en momentos de formación y oración.</li>
</ul>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo5">2.5. Mecanismos o canales de comunicación ante situaciones particulares </h4>
<ol type="a">
    <li>Con respecto a los accidentes, los afectados deben dirigirse a algún adulto responsable, (Encargado de Zona) el
        cual deberá contactar con el servicio de enfermería del campamento para ser evaluado y determinar el
        procedimiento a seguir. En el caso de necesitar una atención especializada, se llevará hasta el Centro de Salud
        Familiar San Francisco de Mostazal. ubicado en Luco 400, Comuna de Mostazal. Región del Libertador General
        Bernardo O ' Higgins, Teléfono 72 2335500. Por un vehículo dispuesto por la organización.</li>
    <li>En caso de situaciones de conflicto al interior de las delegaciones, éstas deberán ser medidas, en primera
        instancia, por el representante de la respectiva delegación. Si se considera un hecho de mayor gravedad se debe
        recurrir al Encargado de Zona respectivo y Coordinador de Ambiente. </li>
    <li>Con respecto a situaciones de vulneración de derechos, tales como: violencia física, verbal, psicológica u otro
        tipo de abusos, deberán ser comunicadas a quien desempeña el Encargado de Zona y Coordinador de Ambiente quien
        comunicará el hecho a los encargados generales del Campamento para aplicar el protocolo correspondiente.</li>
    <li> En caso de conocerse alguna denuncia sobre una situación de abuso, ésta deberá ser comunicada a Sor Karen
        Vivanco FMA y al Padre David Rivera SDB, Coordinadores generales del campamento quienes procederán bajo la
        normativa vigente.</li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo6">2.6. Sobre lo referido a problemas de salud y normas sanitarias. </h4>
<ol type="a">
    <li>No se permite la administración de ningún fármaco a los participantes del campamento. Si el niño(a) o joven debe
        tomar medicamentos de forma sistemática o como S.O.S, su apoderado deberá señalar en la ficha médica delegando
        al asesor o coordinador que acompañe su delegación la administración del medicamento; éste, a su vez, debe
        llevar un registro donde indique el nombre del menor, el medicamento administrado, la dosis, fecha y hora. </li>
    <li>La organización, en conjunto con el equipo de salud, tendrá en consideración los requerimientos de los
        participantes que presenten algún tipo de alergia, particularmente, a nivel alimentario, farmacológico y/o de
        otras características.</li>
    <li>Todo participante del campamento debe presentar, previamente a su asesor, su ficha médica. Destacando,
        particularmente, si presenta enfermedades crónicas y/o alergias. Del mismo modo, si utiliza fármacos de manera
        sistemática o como S.O.S. </li>
    <li> En caso de accidente o problema de salud, en primera instancia se debe comunicar al Representante de la
        delegación, quien dirige al afectado/a la enfermería dispuesta donde se realiza la actividad. En esta primera
        evaluación se determinará los pasos a seguir o si necesita otro tipo de asistencia<sup><a href="#pie4" id="ref4"
                class="footnote-ref">4</a></sup>. Asimismo, privilegiando el bienestar del participante, se evaluará la
        continuidad en el campamento. De no poder continuar se coordinará su regreso (si es de una comuna cercana al
        lugar del evento) o tipo de permanencia (si es de una comuna distante al evento), previo acuerdo entre el
        representante de la delegación con la familia del niño(a), adolescente o joven. </li>
    <li> Durante el desarrollo del campamento el uso de mascarilla no es de carácter obligatorio, sin embargo, si el
        participante lo estime conveniente, puede utilizarlo. Además, se recomienda el lavado de manos, cuidar el
        distanciamiento y la ventilación cruzada en espacios cerrados. De esta manera, promovemos el cuidado de todos.
    </li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h3 id="titulo3">3. ANEXOS: </h3>
<h4 id="subtitulo7">3.1 Protocolo ante contagio COVID </h4>
<ol type="a">
    <li>El o los asistentes del campamento que den positivo en el test de antígenos, serán inmediatamente aislados en un
        espacio dispuesto por la Comisión Organizadora al interior del recinto donde se está llevando a cabo el
        encuentro.</li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo8">3.2 Protocolo ante accidentes u otros problemas de salud </h4>
<ol type="a">
    <li>En caso de accidente o un problema de salud grave durante el desarrollo del campamento o actividad, el
        afectado/a debe ser atendido y evaluado en la enfermería dispuesta por la organización del encuentro o en el
        lugar del accidente. Allí se evaluará su traslado al centro de asistencia médico (CESFAM deSanFrancisco de
        Mostazal), previa comunicación con los padres y/o apoderado(a), a través del responsable de la delegación a la
        cual pertenece el afectado/a.</li>
    <li> Si el accidente no fue grave y el/la afectado/a no ha presentado síntomas y signos anómalos, se debe continuar
        observando su evolución durante la jornada, estando atentos a sus reacciones e informando lo sucedido a su
        familia por los asesores o responsables de cada delegación. </li>
    <li>Si el accidente se relaciona con golpes o caídas considerables, es recomendable no movilizar al afectado y
        llamar a los encargados de la salud del evento, quien aplicará los primeros auxilios y evaluará la posibilidad
        de trasladar al afectado a algún centro de salud cercano al lugar del evento. En el caso de esta actividad, será
        trasladado con previa comunicación con sus padres y/o apoderado(a), a través del responsable de su delegación.
    </li>
    <li>Si se observan lesiones evidentes o signos y síntomas que indiquen que requiere una atención especializada, el
        asesor del centro junto con un voluntario del equipo de primeros auxilios debe trasladar de inmediato al
        afectado/a al centro de salud más cercano. En el caso de esta actividad, será trasladado al Centro de Salud
        Familiar San Francisco de Mostazal, ubicado en Luco 400, Comuna de Mostazal, Región del Libertador General
        Bernardo O 'Higgins, Teléfono 72 2335500.</li>
    <li>En primeros auxilios no se hará administración de tratamientos farmacológicos, excepto en aquellos casos que se
        presente el certificado médico original o receta del especialista tratante con las indicaciones de dosis y
        administración del medicamento. Asimismo, el afectado, deberá entregar en primeros auxilios el medicamento en su
        envase original, acompañando solicitud escrita para que se administre la medicación. </li>
    <li>Toda atención en la sala de primeros auxilios quedará registrada en libro determinado para aquello.</li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo9"><strong>3.3. Protocolo ante situaciones disciplinarias, de maltrato o violencia. </strong></h4>
<ul>
    <li>La(s) situación(es) presentadas al Encargado de zona del campamento serán evaluadas conforme al siguiente
        criterio: </li>
    <li> Faltas leves, que hace referencia a aquellas actitudes y comportamientos que alteran la convivencia, pero que
        no involucran daño físico o psicológico hacia otros participantes de la actividad.</li>
    <li> Faltas graves, que hace referencia a aquellas actitudes y comportamientos que atentan contra la integridad
        psicológica o física de otro participante de la actividad y del bien común. </li>
    <li>Si la situación presentada se califica como una falta leve, el Encargado de zona, junto al Representante de la
        delegación a la cual pertenecen el(los) involucrado(s), deberán dialogar con el niño/a y/o joven y establecer
        algunas medidas reparatoria o formativas para la solución del conflicto. Entiéndase por:
        <ol type="a">
            <li><strong>Medidas reparatorias, </strong>entre las cuales se pueden considerar el reconocimiento de la
                falta, ofrecer disculpas o alguna otra propuesta por el niño y/o joven que sea proporcional a la falta
                cometida.</li>
            <li><strong>Medida formativa, </strong>a cargo del Representante de la delegación, entre las cuales se
                pueden considerar el diálogo personal correctivo con el niño y/o joven, un encuentro de reflexión o
                entrevista. </li>
        </ol>
    </li>
    <li>Si la situación presentada, se califica como una falta grave, el Encargado de zona, junto al Representante de la
        delegación, deberán informar a los padres y/o apoderados del niño(a) y/o joven involucrado(a) los hechos.
        Asimismo, deberán comunicar la aplicación de las medidas de suspensión o expulsión determinadas para estos
        casos. Entiéndase por:
        <ol type="a">
            <li><strong>Medidas de suspensión, el(los) involucrado(s)</strong>: queda(n) suspendido(s) de la
                participación en cualquiera de las actividades programadas para el campamento. Para<br>
                quien(es) se procurará un espacio distinto de donde transcurren las actividades.</li>
            <li><strong> Medidas de expulsión</strong>: esto implica la desvinculación inmediata de él(los)
                involucrado(s) especialmente en casos de agresión física y/o psicológica que ponen en riesgo la
                integridad de los participantes. Esta será gestionada entre el Representante de la delegación y los
                padres y/o apoderados. En caso de que los niños y/o jóvenes involucrados procedan de regiones extremas,
                se aplica la medida de
                suspensión.</li>
        </ol>
    </li>

    <li>En el caso de las situaciones graves, es importante considerar que las medidas son aplicadas durante el
        transcurso del campamento. Será responsabilidad del Representante de<br>
        delegación informar lo acontecido al coordinador de zona respectivo, para que actúen según
        lo establecido en los reglamentos de convivencia escolar particulares a cada obra.</li>
    <li>Si la situación presentada se califica como una falta grave y tiene relación con situaciones y hechos de
        connotación sexual, el Representante de delegación, debera informar a la<br>
        brevedad los hechos al Encargado de zona de la actividad, para activar los protocolos establecidos para estos
        casos<sup><a href="#pie5" id="ref5" class="footnote-ref">5</a></sup>.</li>
</ul>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo10">3.4. Protocolo ante situaciones de abuso y hechos de connotacion sexual</h4>
<p> <strong>Marco legal</strong>: De acuerdo con el<strong> artículo 175 del Código Procesal Penal letra e)</strong>
    &quot;Los directores, inspectores y profesores de establecimientos educacionales de todo nivel, los delitos que
    afectaren a los alumnos o que hubieren tenido lugar en el establecimiento.&quot;</p>
<p>De acuerdo al <strong>artículo 176 del Codigo Procesal Penal</strong>, las personas obligadas a denunciar deben
    hacerlo DENTRO DE LAS 24 HORAS SIGUIENTES al momento en que tomaren<br>
    conocimiento del hecho criminal.</p>
<h4>3.4.1.Actitudes y acciones generales cuando un/a menor de edad afirma que ha sido abusado/a o que lo está siendo:
</h4>
<ol type="a">
    <li>El asesor o encargado de la delegación deberá escuchar y aceptar lo que la posible víctima dice, acogiendo y
        empatizando con el relato del niño o joven; sin cuestionar ni menos culpar.</li>
    <li>Se deberá tranquilizar al menor afectado, asegurando que ha hecho lo correcto al hablar con un adulto
        responsable. </li>
    <li>Se debe comunicar a la posible víctima que es necesario informar a otras personas. No es viable prometer una
        total discreción, sin embargo, se debe asegurar la privacidad de su identidad y su relato.</li>
    <li>Quien acoge la denuncia por parte de una víctima debe registrar con atención lo que se escuchó, incluyendo la
        fecha, hora de la conversación y cualquier evento revelado. (El encargado de zona tendrá a disposición un libro
        de entrevista para el registro de los relatos correspondientes). </li>
    <li> Es obligatorio presentar el asunto a la Coordinación general del campamento como a los padres para dar curso a
        la denuncia correspondiente a la autoridad civil.</li>
</ol>
<h4>3.4.2. Procedimientos para Investigar una Acusación en caso de abuso a menores: </h4>
<ol type="a">
    <li>La persona que tenga conocimiento de la ocurrencia de algún hecho de abuso deberá informar inmediatamente al
        Representante de la delegación, evitando cualquier retraso.</li>
    <li>El que recibe la noticia no debe investigar, ni cuestionar, ni enfrentar al denunciante. Sólo tiene la
        obligación de comunicar a quién corresponda la información recibida<sup><a href="#pie6" id="ref6"
                class="footnote-ref">6</a></sup>
        <ol type="i">
            <li>En caso de que el implicado en los hechos o conductas que puedan tener el carácter de abuso sea una
                religiosa y/o religioso, se deberá informar a la brevedad a la religiosa y/o religioso encargado de la
                Coordinación General del Campamento, quien procederá según protocolo de la Institución. Este deberá
                efectuar, sin demora, las indagaciones necesarias para determinar la verosimilitud de los hechos. </li>
            <li>En caso de que el implicado en los hechos sea algún colaborador o voluntario adulto (Laico/a Seglar), se
                debe presentar las sospechas y/o denuncias a los Coordinadores de ambiente del Campamento quienes
                procederán según protocolo. </li>
            <li>En el caso que el implicado en los hechos sea un par (joven participante), se debe presentar las
                sospechas y/o denuncias a los Coordinadores de ambiente del campamento y, se procede según el Protocolo.
            </li>
        </ol>
    </li>
    <li>cualquier acusación debe ser investigada por la autoridad pertinente.
        <ol type="i">
            <li>Al tomar conocimiento, por cualquier medio, de un hecho que pudiere tener el carácter de un ilícito, se
                debe registrar el día y la hora en que ello ocurre, en el libro de denuncia que sostiene la coordinación
                de ambiente. </li>
            <li> Los Coordinadores Generales del campamento, deben realizar la denuncia del correspondiente delito en
                cualquier Comisaría de Carabineros, Cuarteles de PDI y en las Fiscalías distribuidas en todo el país.
            </li>
        </ol>
    </li>
    <li> La Coordinación General del campamento, deberá disponer una medida administrativa inmediata de prevención,
        entiéndase: la separación del eventual responsable de su función directa con los niños/as, adolescentes y/o
        jóvenes y asignarle labores que no tengan contacto directo con ellos. Esta medida tiende no sólo a proteger a
        los participantes del evento, sino también al denunciado/a, en tanto no se clarifiquen los hechos. Sin perjuicio
        de lo anterior, el Educador Responsable de la actividad y su Equipo son los responsables de denunciar
        formalmente ante la Justicia.</li>
    <li> Respecto del denunciante o presunta víctima: siempre se debe actuar rápidamente en presencia de revelaciones
        (es decir, cuando se presenta una acusación específica de abuso contra una persona en particular) o sospechas
        (es decir, cuando se expresa la posibilidad de un abuso que podría haber ocurrido). El bienestar del denunciante
        siempre debe ser la consideración predominante.</li>
    <li> Respecto al denunciado o presunto victimario: se debe tener presente que todo acusado goza de la presunción de
        inocencia hasta que se pruebe lo contrario, lo que no impide la adopción de medidas que limiten la acción y el
        ejercicio de su labor, hasta que no exista una clarificación de los hechos. En la medida de lo posible, se debe
        mantener reserva del nombre del supuesto autor de los abusos, así como tener especial cuidado en no revelar la
        identidad de las posibles víctimas.</li>
    <li> De no existir graves razones en contra del presunto abusador(a), desde el inicio de la investigación, la
        persona acusada debe ser informada de las acusaciones, dándole la oportunidad de responder a las mismas.</li>
</ol>
 <a class="badge text-bg-primary text-wrap" href="#indicearriba">Volver al indice ⤴️</a><br><br>
<h4 id="subtitulo11">3.5. Protocolo de actuación para el reconocimiento de la identidad de género de niños y estudiantes trans. </h4>
<ol type="A">
    <li>El campamento deberá adoptar como mínimo las medidas básicas de apoyo, lo anterior con el consentimiento de
        el/la estudiante y su padre, madre o tutor legal, tales como: </li>
</ol>
<ul>
    <li>Uso de nombre social en todos los espacios educativos, si fuese solicitado. Los estudiantes trans mantendrán su
        nombre legal en tanto no se produzca el cambio de la partida de nacimiento en los términos establecidos en la
        Ley Nº l7.344, que regula esta materia. </li>
    <li> Presentación personal. El estudiante trans podrá utilizar la vestimenta y/o accesorios que considere más
        adecuado a su identidad de género, independiente de la situación legal en que se encuentre. </li>
    <li>Utilización de servicios higiénicos. Se proporcionarán las facilidades para el uso de baños y duchas de acuerdo
        a las necesidades propias del proceso que estén viviendo, respetando su identidad de género. </li>
</ul>
<p>&nbsp;</p>
<section class="footnotes">
    <p id="pie1" class="footnote"><sup>1</sup> Las y los apoderados, las y los educadores salesianos. <a href="#ref1"
            class="volverarriba">Volver</a></p>
    <p id="pie2" class="footnote"><sup>2</sup> Referencias en Anexo 3.3. Protocolo ante situaciones de abuso y hechos de
        connotación sexual. <a href="#ref2" class="volverarriba">Volver</a></p>
    <p id="pie3" class="footnote"><sup>3</sup> Referencias en Anexo 3.3. Protocolo ante situaciones disciplinarias, de
        maltrato o violencia. <a href="#ref3" class="volverarriba">Volver</a></p>
    <p id="pie4" class="footnote"><sup>4</sup> Referencias en Anexo 3.2. Protocolo ante accidentes u otros problemas de
        salud. <a href="#ref4" class="volverarriba">Volver</a></p>
    <p id="pie5" class="footnote"><sup>5</sup> Referencias en Anexo 3.4. Protocolo ante situaciones de abuso y hechos de
        connotación sexual. <a href="#ref5" class="volverarriba">Volver</a></p>
    <p id="pie6" class="footnote"><sup>6</sup> Cfr. "Cuidado y Esperanza", n° 68. <a href="#ref6"
            class="volverarriba">Volver</a></p>
</section>