{% extends 'estructura/base.html' %}
{% block content %}
<div class="container my-3" style="padding-left: 5%; padding-right: 5%;">
    <h1 class="text-center">{{dia}}</h1>
    <h3 class="text-center">{{onomastico}}</h3>
    <div class="d-flex justify-content-center">
        <a onclick="location.href='/inicio'">
            <img src="{{ url_for('static', filename='img/atras.png') }}" alt="" width="100px">
        </a>
    </div>
    <br>
    {% for dias in domingo %}
    <a href="/domingo/{{ dias }}" class="list-group-item-action text-center tarjeta-dia">
        <span class="texto-dia">
            {{ dias|capitalize }}
        </span>
    </a>
    {% endfor %}
</div>
{% endblock %}