<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPOBOSCO 2024</title>
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botones.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon.png') }}">
    <style>
        body {
            background-color: #54bdc4;

        }

        h1,
        h2,
        h3,
        h4,
        p {
            color: white;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand ">
        <div class="nav navbar-nav">
            <a style="color: rgb(184, 184, 184);" class="nav-item nav-link" href="/inicio">🏠</a>
            <a style="color: rgb(184, 184, 184);" class="nav-item nav-link" href="/miercoles">3️⃣0️⃣</a>
            <a style="color: rgb(184, 184, 184);" class="nav-item nav-link" href="/jueves">3️⃣1️⃣</a>
            <a style="color: white;" class="nav-item nav-link active" href="/viernes">0️⃣1️⃣</a>
            <a style="color: rgb(184, 184, 184);" class="nav-item nav-link" href="/sabado">0️⃣2️⃣</a>
            <a style="color: rgb(184, 184, 184);" class="nav-item nav-link" href="/domingo">0️⃣3️⃣</a>
        </div>
    </nav>



    <div class="container my-3">
        <h3 class="text-center">Viernes:</h3>
        <div class="d-flex justify-content-center">
            <a onclick="history.back()">
                <img src="{{ url_for('static', filename='img/imagenes_CP50/CAMPO/atras.png') }}" alt="" width="100px">
            </a>
        </div>

        <div class="container text-center">
            <table class="table table-bordered table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>HORA</th>
                        <th>ACTIVIDAD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>06:00 a 06:45</td>
                        <td>Levantada adultos</td>
                    </tr>
                    <tr>
                        <td>07:00</td>
                        <td>Levantada jóvenes</td>
                    </tr>
                    <tr>
                        <td>07:30</td>
                        <td>
                            <strong>VALPONASCA</strong>
                            <ul>
                                <li>Laudes (participan los que quieran)</li>
                                <li>Reunión con 1 encargado por cada delegación</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td>
                            Desayuno <br>
                            <em>*Es importante que las delegaciones locales entreguen en este minuto la colación de la
                                mañana a sus jóvenes</em>
                        </td>
                    </tr>
                    <tr>
                        <td>08:30</td>
                        <td>
                            <strong>MATINAL BOSCO MORNING + PASTORAL DE LA ESCUCHA</strong>
                            <ul>
                                <li>Inicio traslado hacia Valdocco</li>
                                <li>Comienzan las transmisiones de Radio Bosco Morning y luego da el pase al Matinal
                                    Bosco Morning</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>09:00</td>
                        <td>
                            <ul>
                                <li>Están todos convocados en Valdocco</li>
                                <li>Inicia la oración de la mañana</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>09:30</td>
                        <td>
                            <ul>
                                <li>Inicio de momento formativo 2</li>
                                <li>Presentación del capítulo 2 de la serie “Un sueño que hace soñar”</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>
                            <ul>
                                <li>Los participantes toman su colación, buscan sus zonas de trabajo y se ubican en sus
                                    subgrupos</li>
                                <li>Formación entrega materiales a animadores</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>10:30</td>
                        <td>
                            <ul>
                                <li>Inicio de trabajo en subgrupos según la planificación entregada</li>
                                <li>Paralelamente, comienza la Pastoral de la escucha en Valponasca</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td>
                            <ul>
                                <li>Traslado para que todos retornen a Valdocco</li>
                                <li>Finaliza la Pastoral de la escucha</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>12:30</td>
                        <td>
                            <ul>
                                <li>Feedback de lo trabajado en la mañana</li>
                                <li>Cierre del matinal</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>Traslado a zonas para almuerzo</td>
                    </tr>
                    <tr>
                        <td>13:30</td>
                        <td>Almuerzo</td>
                    </tr>
                    <tr>
                        <td>14:30</td>
                        <td>
                            <ul>
                                <li>Traslado hacia Valdocco</li>
                                <li>Baile entretenido ACHS</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td>
                            <strong>TARDE ORATORIANA + PASTORAL DE LA ESCUCHA</strong>
                            <ul>
                                <li>Baile entretenido ACHS</li>
                                <li>Inicio de tarde oratoriana</li>
                                <li>Se retoma la idea formativa del día</li>
                                <li>Se motiva para las diversas actividades de la tarde, indicando particularmente
                                    lugares de trabajo</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>15:20</td>
                        <td>
                            <ul>
                                <li>Traslado a talleres</li>
                                <li>Entrega de materiales de Talleres</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>15:30</td>
                        <td>
                            <ul>
                                <li>Realización de talleres. El mismo de ayer, pues no se pueden cambiar. (Cada cual va
                                    a su taller donde previamente se inscribió)</li>
                                <li>Continuación de la Pastoral de la escucha hasta las 19:00 Hrs en Valponasca</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>16:30</td>
                        <td>Traslado a zonas de juegos masivos</td>
                    </tr>
                    <tr>
                        <td>16:40</td>
                        <td>Juegos masivos (Cada cual se dirige a su zona por edades)</td>
                    </tr>
                    <tr>
                        <td>17:30</td>
                        <td>Traslado para la once</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>Once</td>
                    </tr>
                    <tr>
                        <td>18:30</td>
                        <td>
                            <ul>
                                <li>Traslado a zonas para vivir la Eucaristía según zonas geográficas</li>
                                <li>Finaliza la Pastoral de la escucha</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>
                            Eucaristía por Zonas Geográficas
                            <div class="list-group mt-4">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <a class=" list-group-item-action">
                                                    <img src=" {{ url_for('static', filename='img/imagenes_CP50/CAMPO/btn_mornese.png')}} "
                                                        alt="" width="100%">
                                                </a>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <strong>Zona Norte:<br></strong>
                                                <ol>
                                                    <li>Bolivia</li>
                                                    <li>Alto hospicio</li>
                                                    <li>Iquique</li>
                                                    <li>Antofagasta</li>
                                                    <li>Calama</li>
                                                    <li>Copiapó</li>
                                                    <li>La Serena</li>
                                                </ol>
                    
                    
                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <a class=" list-group-item-action">
                                                    <img src=" {{ url_for('static', filename='img/imagenes_CP50/CAMPO/btn_turin.png')}} "
                                                        alt="" width="100%">
                                                </a>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <strong>Zona Centro Norte</strong>
                                                <ol>
                                                    <li>Colombia</li>
                                                    <li>Los Andes</li>
                                                    <li>Valparaíso</li>
                                                    <li>Catemu</li>
                                                    <li>Santiago: La Cisterna - Alameda - Patrocinio San José - Casa Salesiana</li>
                    
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <a class=" list-group-item-action">
                                                    <img src=" {{ url_for('static', filename='img/imagenes_CP50/CAMPO/btn_roma.png')}} "
                                                        alt="" width="100%">
                                                </a>
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <strong>Zona Centro:</strong>
                    
                                                <ol>
                                                    <li>Paraguay</li>
                                                    <li>Colín</li>
                    
                                                    <li>Santiago: Oratorio don Bosco - Camilo Ortuzar Montt - María Aux. Matta - San Joaquín
                                                        - San Miguel, Domingo Savio - José Miguel Infante - Jesús el Señor - Manuel Arriarán
                                                        Barros</li>
                    
                    
                                                </ol>
                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#colapsocuatro" aria-expanded="false" aria-controls="colapsocuatro">
                                                <a class=" list-group-item-action">
                                                    <img src=" {{ url_for('static', filename='img/imagenes_CP50/CAMPO/btn_ibecchi.png')}} "
                                                        alt="" width="100%">
                                                </a>
                                            </button>
                                        </h2>
                                        <div id="colapsocuatro" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <strong>Zona Centro Sur:</strong>
                    
                                                <ol>
                                                    <li>Molina</li>
                                                    <li>Talca</li>
                                                    <li>Linares</li>
                                                    <li>Santa Cruz</li>
                                                    <li>Concepción</li>
                                                </ol>
                    
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#colapsocinco" aria-expanded="false" aria-controls="colapsocinco">
                                                <a class=" list-group-item-action">
                                                    <img src=" {{ url_for('static', filename='img/imagenes_CP50/CAMPO/btn_nizza.png')}} "
                                                        alt="" width="100%">
                                                </a>
                                            </button>
                                        </h2>
                                        <div id="colapsocinco" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <strong>Zona Sur:</strong><br>
                    
                                                <ol>
                                                    <li>Argentina</li>
                                                    <li>Valdivia</li>
                                                    <li>Puerto Montt</li>
                                                    <li>Punta Arenas</li>
                                                    <li>Puerto Natales</li>
                    
                                                </ol>
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                    
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>19:45</td>
                        <td>Traslado para la cena</td>
                    </tr>
                    <tr>
                        <td>20:15</td>
                        <td>Cena</td>
                    </tr>
                    <tr>
                        <td>21:00</td>
                        <td>Traslado hacia Valdocco</td>
                    </tr>
                    <tr>
                        <td>21:15</td>
                        <td>Convocatoria en Valdocco</td>
                    </tr>
                    <tr>
                        <td>21:30</td>
                        <td>Inicio de momento de recogimiento y encuentro con Jesús</td>
                    </tr>
                    <tr>
                        <td>22:30</td>
                        <td>Traslado de Valdocco a zonas de acampada para iniciar el descanso</td>
                    </tr>
                    <tr>
                        <td>23:00</td>
                        <td>Se inicia el proceso de descanso</td>
                    </tr>
                    <tr>
                        <td>00:00</td>
                        <td>
                            <strong>GRAN SILENCIO</strong><br>
                            Todos los participantes se encuentran en sus carpas descansando. Solamente la Comisión de
                            Convivencia tiene adultos dispuestos a la vigilia y asistencia de la noche.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootjs/popper.min.js') }}"></script>

</body>

</html>