.btncampobosco{
    background-color: #ff00bf;
    color: #fff;
    padding: 10px;
}

.btn2{
    background-color: #54bdc4;
    color: #fff;
    padding: 10px;
}

.btn3{
    background-color: #66b352;
    color: #fff;
    padding: 10px;
}

@font-face {
    font-family: 'tipoCampo';
    src: url('/static/fonts/NovecentoCondUltraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente_basica';
    src: url('/static/fonts/neutraface2display_thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


h1,
h3 {
    color: #ffffff;
    font-family: 'tipoCampo', sans-serif;
}

.list-group-item {
    font-size: 1.2em;
}

#cache-btn {
    font-size: 1.1em;
}
h4,p{
    color: #ffffff;
    
}