<style>
    p,li {
        font-size: 16px;
    }

    .controls {
        margin-bottom: 10px;
    }
</style>
<div class="controls">
    <button class="btn btn-danger" onclick="decreaseFontSize()">-A</button>
    <button class="btn btn-success" onclick="increaseFontSize()">+A</button>
</div>
<script>
    let currentFontSize = 16; // Tamaño inicial

    function increaseFontSize() {
        currentFontSize += 2; // Incrementar tamaño en 2px
        let paragraphs = document.querySelectorAll("p");
        paragraphs.forEach(p => {
            p.style.fontSize = currentFontSize + "px";
        });
        let paragraphs2 = document.querySelectorAll("li");
        paragraphs2.forEach(p => {
            p.style.fontSize = currentFontSize + "px";
        });
        let paragraphs3 = document.querySelectorAll("div");
        paragraphs3.forEach(p => {
            p.style.fontSize = currentFontSize + "px";
        });



    }

    function decreaseFontSize() {
        if (currentFontSize > 10) { // Establece un tamaño mínimo para evitar que el texto sea demasiado pequeño
            currentFontSize -= 2; // Reducir tamaño en 2px
            let paragraphs = document.querySelectorAll("p");
            paragraphs.forEach(p => {
                p.style.fontSize = currentFontSize + "px";
            });

            let paragraphs2 = document.querySelectorAll("li");
            paragraphs.forEach(p => {
                p.style.fontSize = currentFontSize + "px";
            });

            let paragraphs3= document.querySelectorAll("div");
            paragraphs.forEach(p => {
                p.style.fontSize = currentFontSize + "px";
            });
        }
    }
</script>