<header>
    <nav class="navbar navbar-expand ">
        <div class="nav navbar-nav d-flex justify-content-center w-100">
            <a class="nav-item nav-link active" style="font-size: 14px;" href="/inicio"><h3>🏠</h3></a>
            <a class="nav-item nav-link" href="/miercoles"><h3>3️⃣0️⃣</h3></a>
            <a class="nav-item nav-link" href="/jueves"><h3>3️⃣1️⃣</h3></a>
            <a class="nav-item nav-link" href="/viernes"><h3>0️⃣1️⃣</h3></a>
            <a class="nav-item nav-link" href="/sabado"><h3>0️⃣2️⃣</h3></a>
            <a class="nav-item nav-link" href="/domingo"><h3>0️⃣3️⃣</h3></a>
        </div>
    </nav>
</header>