<!doctype html>
<html lang="en">

<head>
    <title> CampoBOSCO 2024 Liturgia </title>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botones.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon.png') }}">
    <style>
        body {
            background-color: #361439;
        }

        footer {
            padding: 10px;
        }
    </style>

</head>

<body>
    <header>

    </header>
    <main>

        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">

            <img src="{{ url_for('static', filename='img/imagenes_CP50/cpb50_sin.png') }}" alt="Logo Campobosco"
                style="max-width: 70%; height: auto;">
            <div id="idhora"></div>

            <button onclick="location.href='/inicio'" type="button" class=" btncampobosco mt-3">🤙Bienvenid@s✌️</button>

            <button type="button" class="btn3 mt-3" style="background-color: #66b352; color: #361439; padding: 10px;"
                id="cache-btn">🌐Descargar<br>toda la página💻</button>
            {% if device == "WEB" %}
            {% else %}
            <button type="button" class="mt-3 btn2" style="color: black;" onclick="location.href='/comoagregar'">🤳¿Cómo
                agregar<br>al inicio en {{device}}? 📲</button>
            {% endif %}
            <a type="button" class="btn mt-3" style="background-color: #361439; color: aliceblue; padding: 10px;"
                onclick="pepe()">Creditos</a>


        </div>

        <!-- Spinner de carga -->
        <div id="loading" class="text-center mt-4" style="display:none;">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
            <p>Guardando la página en caché, por favor espera...</p>
        </div>
    </main>
    <footer>
    </footer>
    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/sweetalert2.all.min.js') }}"></script>
    <script>
        function pepe() {
            Swal.fire({
                title: "Equipo de Liturgia",
                html: `Trabajo realizado por el equipo de liturgia<br>
               Cualquier cosa que necesiten, no duden en buscarnos en el campamento.<br>
               V. 1.27.03.58`,

            });
        }

        // document.getElementById('cache-btn').addEventListener('click', () => {
        //     Swal.fire({
        //         title: "Éxitos",
        //         text: "Página guardada correctamente",
        //         icon: "success"
        //     });
        // });

        // Registro del service worker
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', async function () {
                try {
                    if (!navigator.onLine) {
                        console.log("Sin conexión a Internet, usando versión en caché.");
                        return;
                    }

                    const registration = await navigator.serviceWorker.register('/service-worker.js');
                    console.log('ServiceWorker registrado con éxito:', registration);

                    registration.onupdatefound = async function () {
                        const installingWorker = registration.installing;
                        installingWorker.onstatechange = async function () {
                            if (installingWorker.state === 'installed' && navigator.serviceWorker.controller) {
                                const serverCacheVersion = await fetch('/cache-version.json')
                                    .then(response => response.json())
                                    .then(data => data.cacheVersion);

                                if (serverCacheVersion !== localStorage.getItem('cacheVersion')) {
                                    if (confirm("Nueva versión disponible. ¿Actualizar ahora?")) {
                                        localStorage.setItem('cacheVersion', serverCacheVersion);
                                        window.location.reload();
                                    }
                                } else {
                                    console.log("La versión en caché está actualizada.");
                                }
                            }
                        };
                    };
                } catch (error) {
                    console.log('Error al registrar el ServiceWorker:', error);
                }
            });
        }

        // Función para borrar el caché y actualizar
        async function clearCacheAndReload() {
            document.getElementById('loading').style.display = 'block';

            if ('caches' in window) {
                const cacheNames = await caches.keys();
                await Promise.all(cacheNames.map(cache => caches.delete(cache)));
                console.log("Caché borrado exitosamente.");
                window.location.reload();
            }
        }

        document.getElementById('cache-btn').addEventListener('click', clearCacheAndReload);


    </script>

    <script>
        function determinarMomentoDelDia() {
            const horaActual = new Date().getHours();

            if (6 <= horaActual && horaActual < 8) {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>Hola buenos días✌️</h3>";
            } else if (8 <= horaActual && horaActual < 13) {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>Buena jornada 👩‍🏭🌴</h3>";
            } else if (13 <= horaActual && horaActual < 14) {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>🍢A comeer!! 🍕</h3>";
            } else if (14 <= horaActual && horaActual < 19) {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>☀️🫡Buena tarde </h3>";
            } else if (horaActual === 19) {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>⛪Vamos a misa ✝️</h3>";
            } else if (20 <= horaActual && horaActual < 21) {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>vamos a cenar🌃</h3>";
            } else if (21 <= horaActual && horaActual < 24) {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>Buenas actividades nocturnas<br>🌉🌓🌙</h3>";
            } else {
                return "<h3 class='text-center' style='padding-left: 5%; padding-right: 5%;'>🤫🥷shhh deben estar durmiendo🛌🏕️</h3>";
            }
        }

        document.getElementById("idhora").innerHTML = determinarMomentoDelDia();




    </script>
    <div>
        <br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br>
        {% include 'estructura/footer.html' %}
    </div>
</body>

</html>