<!doctype html>
<html lang="en">

<head>
    <title> {{ titulo }} </title>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/propiosINICIO.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/propiosMENU.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon.png') }}">
    <style>
        body{
            background-color: #361439;
        }
    </style>    

</head>

<body>

    <header>
        

    </header>
    <main>
        <img
            src= "{{ url_for('static', filename='img/imagenes_CP50/cpb50_sin.png') }}"
            class="img-fluid rounded-top"
            alt=""
            width="400"
        
        />
        

    </main>
    <footer>
    </footer>
    <script
        src="{{ url_for('static', filename='js/cdnjs.cloudflare.com_ajax_libs_jspdf_2.5.0_jspdf.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootjs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>



</body>

</html>