.btncampobosco {
    background-color: #ff00bf;
    color: #fff;
    padding: 10px;
}

.btn2 {
    background-color: #54bdc4;
    color: #fff;
    padding: 10px;
}

.btn3 {
    background-color: #66b352;
    color: #fff;
    padding: 10px;
}

@font-face {
    font-family: 'tipoCampo';
    src: url('/static/fonts/NovecentoCondUltraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente_basica';
    src: url('/static/fonts/neutraface2display_thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


h1,
h3 {
    color: #ffffff;
    font-family: 'tipoCampo', sans-serif;
}

.list-group-item {
    font-size: 1.2em;
}

#cache-btn {
    font-size: 1.1em;
}

h4,
p {
    color: #ffffff;

}

.fondobosco {
    background-color: #361439
}

.fondoboscoclaro {
    background-color: #54bdc4
}

.rojobosco {
    background-color: #f70033
}

.celestecolor {
    background-color: #54bdc4
}

.rosadobosco {
    background-color: #ff00bf
}

.naranjabosco {
    background-color: #ff6600
}

.verdebosco {
    background-color: #66b352
}

.amarillobosco {
    background-color: #d1c94d
}

.black {
    background-color: #FF000000
}

.blancobosco {
    background-color: #FFFFFFFF
}

.moradobosco {
    background-color: #8B268C
}

.amarillointenso {
    background-color: #fbf207
}

.colorceleste1 {
    background-color: #3bffb3
}

.colorceleste2 {
    background-color: #85edf2
}

.colorceleste3 {
    background-color: #3debd1
}

.colorverdeclar {
    background-color: #99ff19
}

.colorrosadoclar {
    background-color: #ff00bf
}

.colormoradoclar {
    background-color: #8000ff
}