<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPOBOSCO 2024</title>
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botones.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon.png') }}">
    <style>
        body {
            background-color: #ff6600;

        }
        h3 {
    color: #ffffff;
    font-family: Arial;
}
    </style>

</head>

<body>
    <nav class="navbar navbar-expand ">
        <div class="nav navbar-nav d-flex justify-content-center w-100">
            <a class="nav-item nav-link active" style="font-size: 14px;" href="/inicio"><h3>🏠</h3></a>
            <a class="nav-item nav-link" href="/miercoles"><h3>3️⃣0️⃣</h3></a>
            <a class="nav-item nav-link" href="/jueves"><h3>3️⃣1️⃣</h3></a>
            <a class="nav-item nav-link" href="/viernes"><h3>0️⃣1️⃣</h3></a>
            <a class="nav-item nav-link active" href="/sabado"><h3>0️⃣2️⃣</h3></a>
            <a class="nav-item nav-link" href="/domingo"><h3>0️⃣3️⃣</h3></a>
        </div>
    </nav>
    <div class="container my-3" style="padding-left: 5%; padding-right: 5%;">
        <h1 class="text-center">Eucaristía:</h1>
        <div class="d-flex justify-content-center">
            <a onclick="history.back()">
                <img src="{{ url_for('static', filename='img/imagenes_CP50/CAMPO/atras.png') }}" alt="" width="100px">
            </a>
        </div>
        <h3 class="text-center"></h3>

        <h2 style="color:red">Primera lectura</h2>
        <h3>Lectura del libro del Apocalipsis 21, 1-5a. 6b-7</h3>
        <p>Yo, Juan, vi un cielo nuevo y una tierra nueva, pues el primer cielo y la primera tierra desaparecieron, y el
            mar ya no existe.<br>
            Y vi la ciudad santa, la nueva Jerusalén que descendía del cielo, de parte de Dios, preparada como una
            esposa que se ha adornado para su esposo.<br>
            Y oí una gran voz desde el trono que decía: «He aquí la morada de Dios entre los hombres, y morará con
            ellos, y ellos serán su pueblo, y el "Dios con ellos" será su Dios». Y enjugará toda lágrima de sus ojos, y
            ya no habrá muerte, ni duelo, ni llanto, ni dolor, porque lo primero ha desaparecido.<br>
            Y dijo el que está sentado en el trono: «Mira, hago nuevas todas las cosas. Yo soy el Alfa y la Omega, el
            principio y el fin. Al que tenga sed yo le daré de la fuente del agua de la vida gratuitamente. El vencedor
            heredará esto: yo seré Dios para él, y él será para mí hijo».</p>
        <p><strong>Palabra de Dios.</strong></p>
        <h2 style="color:red">Salmo de hoy</h2>
        <h3>Salmo 24, 6. 7b. 17-18. 20-21 </h3>
        <h3>R/. A ti, Señor, levanto mi alma</h3>
        <p>Recuerda, Señor, que tu ternura<br>
            y tu misericordia son eternas;<br>
            acuérdate de mí con misericordia,<br>
            por tu bondad, Señor. <strong>R/.</strong></p>
        <p>Ensancha mi corazón oprimido<br>
            y sácame de mis tribulaciones.<br>
            Mira mis trabajos y mis penas<br>
            y perdona todos mis pecados. <strong>R/.</strong></p>
        <p>Guarda mi vida y líbrame,<br>
            no quede yo defraudado de haber acudido a ti.<br>
            La inocencia y la rectitud me protegerán,<br>
            porque espero en ti. <strong>R/.</strong></p>
        <h2 style="color:red">Segunda lectura</h2>
        <h3>Lectura de la carta del apóstol san Pablo a los Filipenses 3, 20-21</h3>
        <p>Hermanos:<br>
            Nosotros somos ciudadanos del cielo, de donde aguardamos un Salvador: el Señor Jesucristo.<br>
            Él transformará nuestro cuerpo humilde, según el modelo de su cuerpo glorioso, con esa energía que posee
            para sometérselo todo.</p>
        <p><strong>Palabra de Dios.</strong></p>
        <h2 style="color:red">Evangelio del día</h2>
        <h3>Lectura del santo evangelio según san Juan 11, 17-27</h3>
        <p>Cuando Jesús llegó a Betania, Lázaro llevaba ya cuatro días enterrado. Betania distaba poco de Jerusalén:
            unos quince estadios; y muchos judíos habían ido a ver a Marta y a María para darles el pésame por su
            hermano.<br>
            Cuando Marta se enteró de que llegaba Jesús, salió a su encuentro, mientras María se quedó en casa. Y dijo
            Marta a Jesús:<br>
            «Señor, si hubieras estado aquí, no habría muerto mi hermano. Pero aún ahora sé que todo lo que pidas a
            Dios, Dios te lo concederá».<br>
            Jesús le dijo:<br>
            «Tu hermano resucitará».<br>
            Marta respondió:<br>
            «Sé que resucitará en la resurrección en el último día».<br>
            Jesús le dijo:<br>
            «Yo soy la resurrección y la vida: el que cree en mí, aunque haya muerto, vivirá; y el que está vivo y cree
            en mí, no morirá para siempre. ¿Crees esto?».<br>
            Ella le contestó:<br>
            «Sí, Señor: yo creo que tú eres el Cristo, el Hijo de Dios, el que tenía que venir al mundo».</p>
        <p><strong>Palabra del Señor.</strong></p>
        <br><br><br>

    </div>


    </div>


    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.min.js') }}"></script>
</body>

</html>