<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPOBOSCO 2024</title>
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botones.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon.png') }}">
    <style>
        body {
            background-color: #d1c94d;
        }
        p,
        h1,
        h2,
        h3,
        h4 {
            color: black;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand " >
        <div class="nav navbar-nav d-flex justify-content-center w-100">
            <a class="nav-item nav-link" href="/inicio">
                <h3>🏠</h3>
            </a>
            <a class="nav-item nav-link " href="/miercoles">
                <h3>3️⃣0️⃣</h3>
            </a>
            <a class="nav-item nav-link active" href="/jueves">
                <h3>3️⃣1️⃣</h3>
            </a>
            <a class="nav-item nav-link" href="/viernes">
                <h3>0️⃣1️⃣</h3>
            </a>
            <a class="nav-item nav-link" href="/sabado">
                <h3>0️⃣2️⃣</h3>
            </a>
            <a class="nav-item nav-link" href="/domingo">
                <h3>0️⃣3️⃣</h3>
            </a>
        </div>
    </nav>
    <div class="container my-3" style="padding-left: 5%; padding-right: 5%;">
        <h1 class="text-center">Laudes:</h1>
        <div class="d-flex justify-content-center">
            <a onclick="history.back()">
                <img src="{{ url_for('static', filename='img/imagenes_CP50/CAMPO/atras.png') }}" alt="" width="100px">
            </a>
        </div>
        <h3 class="text-center"></h3>


        <p dir="ltr"><strong>Laudes</strong></p>
        <p dir="ltr"><strong style="color:red">V.</strong> Señor, abre mis labios.<br>
            <strong style="color:red">R. </strong>Y mi boca proclamará tu alabanza.
        </p>
        <br />
        <p dir="ltr" style="color:red"><strong>HIMNO</strong></p>
        <p dir="ltr">Señor, que ensalzas y humillas,<br>
            ¡qué grande eres en tus santos,<br>
            y qué pobres nuestros cantos<br>
            ante tantas maravillas!<br />
        </p>
        <p dir="ltr">Ellos son los seres grandes<br>
            que van siguiendo tu huella.<br>
            Gracias, pues, porque en los Andes<br>
            brotó esta rosa tan bella.<br />
        </p>
        <p dir="ltr">Tú le enseñaste a crecer<br>
            con la firmeza del viento<br>
            para ser, cuando mujer,<br>
            limpia como el firmamento.<br />
        </p>
        <p dir="ltr"> Aprendió a alzarse del suelo,<br>
            libre de intenciones malas,<br>
            como el cóndor alza el vuelo<br>
            sin sentir lastre en las alas.</p>
        <p dir="ltr">Por eso, cuando pretende<br>
            dominarla el poderoso,<br>
            ella se encara y defiende<br>
            su tesoro más precioso.</p>
        <p dir="ltr">Al final, cuando ya sabe<br>
            que se acerca la partida,<br>
            pide a la madre que acabe<br>
            dando sentido a su vida.</p>
        <p dir="ltr">Y el cielo acepta propicio<br>
            el cuerpo grácil, exhausto,<br>
            que se ofrece en sacrificio<br>
            como el mejor holocausto.</p>
        <p dir="ltr">Señor, que ensalzas y humillas,<br>
            ¡qué grande eres en tus santos,<br>
            y qué pobres nuestros cantos<br>
            ante tantas maravillas! Amén.</p>
        <br />
        <p dir="ltr"><strong style="color:red">SALMODIA</strong></p>
        <p dir="ltr"><strong style="color:red">Ant. 1 </strong>Despierta tu poder, Señor, y ven a salvarnos.<br />
        </p>
        <p dir="ltr"><strong style="color:red">- Salmo 79 -</strong><br />
        </p>
        <p dir="ltr">Pastor de Israel, escucha,<br>
            tu que guías a José como a un rebaño;<br>
            tu que te sientas sobre querubines, resplandece<br>
            ante Efraím, Benjamín y Manasés;<br>
            despierta tu poder y ven a salvarnos.<br />
        </p>
        <p dir="ltr">¡Oh Dios!, restáuranos,<br>
            que brille tu rostro y nos salve.<br />
        </p>
        <p dir="ltr">Señor Dios de los ejércitos,<br>
            ¿hasta cuando estarás airado<br>
            mientras tu pueblo te suplica?</p>
        <p dir="ltr">Le diste a comer llanto,<br>
            a beber lágrimas a tragos;<br>
            nos entregaste a las disputas de nuestros vecinos,<br>
            nuestros enemigos se burlan de nosotros.<br />
        </p>
        <p dir="ltr">Dios de los ejércitos, restáuranos,<br>
            que brille tu rostro y nos salve.<br />
        </p>
        <p dir="ltr">Sacaste una vid de Egipto,<br>
            expulsaste a los gentiles, y la trasplantaste;<br>
            le preparaste el terreno y echó rices<br>
            hasta llenar el país;<br />
        </p>
        <p dir="ltr">su sombra cubría las montañas,<br>
            y sus pámpanos, los cedros altísimos;<br>
            extendió sus sarmientos hasta el mar,<br>
            y sus brotes hasta el Gran Río.</p>
        <p dir="ltr">¿Por que has derribado su cerca<br>
            para que la saqueen los viandantes,<br>
            la pisoteen los jabalíes<br>
            y se la coman las alimañas?<br />
        </p>
        <p dir="ltr">Dios de los ejércitos, vuélvete:<br>
            mira desde el cielo, fíjate,<br>
            ven a visitar tu viña,<br>
            la cepa que tu diestra plantó,<br>
            y que tú hiciste vigorosa.<br />
        </p>
        <p dir="ltr">La han talado y le han prendido fuego:<br>
            con un bramido hazlos perecer.<br>
            Que tu mano proteja a tu escogido,<br>
            al hombre que tu fortaleciste.<br>
            No nos alejaremos de ti:<br>
            danos vida, para que invoquemos tu nombre.<br />
        </p>
        <p dir="ltr">Señor Dios de los ejércitos, restáuranos,<br>
            que brille tu rostro y nos salve.<br />
        </p>
        <p dir="ltr">Gloria al Padre, y al Hijo, y al Espíritu Santo.<br>
            Como era en el principio, ahora y siempre, por los siglos de los siglos. Amén.</p>
        <br />
        <p dir="ltr"><strong style="color:red">Ant. 1</strong> Despierta tu poder, Señor, y ven a salvarnos.<br />
        </p>
        <p dir="ltr"><strong style="color:red">Ant. 2 </strong>Anunciad a toda la tierra que el Señor hizo
            proezas.<br />
        </p>
        <p dir="ltr" style="color:red">Cántico Is. 12,1-6</p>
        <p dir="ltr">Te doy, gracias, Señor, <br>
            porque estabas airado contra mí,<br>
            pero ha cesado tu ira<br>
            y me has consolado.</p>
        <br />
        <p dir="ltr">Él es mí Dios y salvador:<br>
            confiaré y no temeré,<br>
            porque mi fuerza y mi poder es el Señor,<br>
            él fue mi salvación.<br>
            Y sacaréis aguas con gozo<br>
            de las fuentes de la salvación.</p>
        <br />
        <p dir="ltr">Aquel día, diréis:<br>
            Dad gracias al Señor,<br>
            invocad su nombre,<br>
            contad a los pueblos sus hazañas,<br>
            proclamad que su nombre es excelso.</p>
        <br />
        Tañed para el Señor, que hizo proezas;<br>
        anunciadlas a toda la tierra;<br>
        gritad jubilosos, habitantes de Sión:<br>
        &quot;¡Qué grande es en medio de ti<br>
        el Santo de Israel!&quot; <br />
        <p dir="ltr">Gloria al Padre, y al Hijo, y al Espíritu Santo. <br>
            Como era en el principio, ahora y siempre, por los siglos de los siglos. Amén.</p>
        <br />
        <p dir="ltr"><strong style="color:red">Ant. 2 </strong>Anunciad a toda la tierra que el Señor hizo proezas.<br>
        </p>
        <p dir="ltr"> <strong style="color:red">Ant. 3</strong> Aclamad a Dios, nuestra fuerza. <strong
                style="color:red">+</strong></p>
        <br />
        <p dir="ltr"><strong style="color:red">- Salmo 80 -</strong></p>
        <br />
        <p dir="ltr">Aclamad a Dios, nuestra fuerza:<br>
            <strong style="color:red"> + </strong>dad vítores al Dios de Jacob:
        </p>
        <br />
        <p dir="ltr">acompañad, tocad los panderos,<br>
            las cítaras templadas y las arpas;<br>
            tocad las trompetas por la luna nueva,<br>
            por la luna llena que es nuestra fiesta;</p>
        <br />
        <p dir="ltr">Porque es una ley de Israel,<br>
            un precepto del Dios de Jacob,<br>
            una norma establecida para José<br>
            al salir de Egipto.</p>
        <br />
        <p dir="ltr">Oigo un lenguaje desconocido:<br>
            &quot;Retiré sus hombros de la carga,<br>
            y sus manos dejaron la espuerta.</p>
        <br />
        <p dir="ltr">Clamaste en la aflicción, y te libré,<br>
            te respondí oculto entre los truenos,<br>
            te puse a prueba junto a la fuente de Meribá.</p>
        <br />
        <p dir="ltr">Escucha, pueblo mío, doy testimonio contra ti;<br>
            ¡ojalá me escuchases, Israel!</p>
        <br />
        <p dir="ltr">No tendrás un Dios extraño,<br>
            no adoraras un dios extranjero:<br>
            yo soy el Señor Dios tuyo,<br>
            que te saqué del país de Egipto:<br>
            abre tu boca y yo la saciaré.</p>
        <br />
        <p dir="ltr">Pero mi pueblo no escuchó mi voz,<br>
            Israel no quiso obedecer:<br>
            los entregué a su corazón obstinado,<br>
            para que anduviesen según sus antojos.</p>
        <br />
        <p dir="ltr">¡Ojalá me escuchase mi pueblo<br>
            y caminase Israel por mi camino!<br>
            En un momento humillaría a sus enemigos<br>
            y volvería mi mano contra sus adversarios,</p>
        <br />
        <p dir="ltr">los que aborrecen al Señor te adularían,<br>
            y su suerte quedaría fijada;<br>
            te alimentaría con flor de harina,<br>
            te saciaría con miel silvestre.&quot;</p>
        <br />
        <p dir="ltr">Gloria al Padre, y al Hijo, y al Espíritu Santo.<br>
            Como era en el principio, ahora y siempre, por los siglos de los siglos. Amén.</p>
        <br />
        <p dir="ltr"><strong style="color:red">Ant. 3</strong> Aclamad a Dios, nuestra fuerza.</p>
        <br />
        <p dir="ltr"><strong style="color:red">LECTURA BREVE Rom 12,1-2</strong></p>
        <p dir="ltr">Ahora hermanos, por la misericordia de Dios, os exhorto a ofreceros como sacrificio vivo, santo,
            aceptable a Dios: sea ése vuestro culto espiritual. No os acomodéis a este mundo, antes transformaos con una
            mentalidad nueva, para discernir la voluntad de Dios, lo que es bueno y aceptable y perfecto.</p>
        <br />
        <p dir="ltr"><strong style="color:red">RESPONSORIO BREVE</strong></p>
        <p dir="ltr"><strong style="color:red">V.</strong> Dios la sostiene con la luz de su rostro.<br>
            <strong style="color:red">R. </strong>Dios la sostiene con la luz de su rostro.
        </p>
        <br />
        <p dir="ltr"><strong style="color:red">V.</strong> No podrá dudar: Dios está con ella,&nbsp;<br>
            <strong style="color:red">R. </strong>Con la luz de su rostro.
        </p>
        <br />
        <p dir="ltr"><strong style="color:red">V.</strong> Gloria al Padre, y al Hijo, y al Espíritu Santo.<br>
            <strong style="color:red">R. </strong>Dios la sostiene con la luz de su rostro.<br />
            <br />
        </p>
        <p dir="ltr"><strong style="color:red">CÁNTICO EVANGÉLICO</strong></p>
        <br />
        <p dir="ltr"><strong style="color:red">Ant.</strong> Dios reveló los misterios del Reino a la gente sencilla.
        </p>
        <p dir="ltr"><strong style="color:red">Cántico de zacarías Lc 1, 68-79</strong></p>
        <br />
        <p dir="ltr">Bendito sea el Señor, Dios de Israel,<br>
            porque ha visitado y redimido a su pueblo,<br>
            suscitándonos una fuerza de salvación<br>
            en la casa de David, su siervo,<br>
            según lo había predicho desde antiguo<br>
            por boca de sus santos profetas.<br />
        </p>
        <p dir="ltr">Es la salvación que nos libra de nuestros enemigos<br>
            y de la mano de todos los que nos odian;<br>
            ha realizado así la misericordia que tuvo con<br>
            nuestros padres,<br>
            recordando su santa alianza<br>
            y el juramento que juró a nuestro padre Abraham.<br />
        </p>
        <p dir="ltr">Para concedernos que, libres de temor,<br>
            arrancados de la mano de los enemigos,<br>
            le sirvamos con santidad y justicia,<br>
            en su presencia, todos nuestros días</p>
        <br />
        <p dir="ltr">Y a ti, niño, te llamarán profeta del Altísimo,<br>
            porque irás delante del Señor<br>
            a preparar sus caminos,<br>
            anunciando a su pueblo la salvación,<br>
            el perdón de sus pecados.<br />
        </p>
        <p dir="ltr">Por la entrañable misericordia de nuestro Dios,<br>
            nos visitará el sol que nace de lo alto,<br>
            para iluminar a los que viven en tiniebla<br>
            y en sombra de muerte,<br>
            para guiar nuestros pasos<br>
            por el camino de la paz</p>
        <br />
        <p dir="ltr">Gloria al Padre, y al Hijo, y al Espíritu Santo.<br>
            Como era en el principio, ahora y siempre,
            por los siglos de los siglos. Amén.</p><br />
        <br />
        <p dir="ltr"><strong style="color:red">Ant.</strong> Dios reveló los misterios del Reino a la gente sencilla.
        </p>
        <br />
        <p dir="ltr"><strong style="color:red">PRECES.</strong></p>
        <p dir="ltr">Hermanos y hermanas, en este día especial en el que recordamos a la Beata Laura Vicuña, joven
            valiente y fervorosa, que nos enseñó el valor del sacrificio y la entrega total al Señor.</p>
        <br />
        <p dir="ltr">Por los jóvenes del Movimiento Juvenil Salesiano,</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation"><em>para que, al igual que Laura Vicuña, respondan con generosidad a la
                        llamada de Dios, entregándose con amor y perseverancia a sus ideales cristianos.</em></p>
                <p dir="ltr" role="presentation">&nbsp;</p>
            </li>
        </ul>
        <p dir="ltr">Por los educadores y acompañantes espirituales,</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation"><em>para que, como María Auxiliadora guió a Laura, ellos sepan ser
                        verdaderos referentes de fe y fortaleza, acompañando con ternura y sabiduría a los jóvenes en su
                        caminar.&nbsp;</em></p>
                <p dir="ltr" role="presentation">&nbsp;</p>
            </li>
        </ul>
        <p dir="ltr">Por todas las familias aquí representadas,</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation"><em>para que, inspiradas por el ejemplo de Laura, sean lugares de amor,
                        perdón y apoyo mutuo, y que los jóvenes crezcan en ellas fortalecidos en su fe.</em></p>
                <p dir="ltr" role="presentation">&nbsp;</p>
            </li>
        </ul>
        <p dir="ltr">Por la protección y respeto a la dignidad de la mujer,</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation"><em>para que, al recordar el coraje y la pureza de Laura Vicuña,
                        trabajemos juntos por una sociedad donde las mujeres sean valoradas y respetadas en todas sus
                        dimensiones.&nbsp;</em><br>
                </p>
            </li>
        </ul>
        <p dir="ltr">Por la gracia de la reconciliación y la paz,</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation"><em>para que en este CAMPOBOSCO se fortalezca en cada uno de nosotros
                        el deseo de vivir en armonía, superando divisiones y construyendo puentes de fraternidad y amor
                        cristiano.</em></p>
            </li>
        </ul>
        <p dir="ltr" style="color:red">Se pueden añadir algunas intenciones libres.</p>
        <br />
        <p dir="ltr">Oremos ahora al Padre, como nos enseñó el mismo Jesús: Padre nuestro.</p>
        <br />
        <p dir="ltr"><strong style="color:red">Oración</strong></p>
        <p dir="ltr">Padre de inmensa ternura, que en la adolescente Laura Vicuña uniste de modo admirable la</p>
        <p dir="ltr">fortaleza de espíritu y el candor de la inocencia; concédenos, por su intercesión, valentía</p>
        <p dir="ltr">para superar las dificultades de la vida y dar testimonio, ante el mundo, de la</p>
        <p dir="ltr">bienaventuranza de los limpios de corazón. Por nuestro Señor Jesucristo tu Hijo.</p>
        <br />
        <p dir="ltr"><strong style="color:red">CONCLUSIÓN.</strong></p>
        <br />
        <p dir="ltr"><strong style="color:red">V. </strong>El Señor nos bendiga, nos guarde de todo mal y nos lleve a la
            vida eterna.</p>
        <p dir="ltr"><strong style="color:red">R.</strong> Amén.</p>
        <br><br><br>

    </div>


    </div>


    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.min.js') }}"></script>
</body>

</html>