<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPOBOSCO 2024</title>
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botones.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon.png') }}">
    <style>
        body {
            background-color: #d1c94d;
        }

        p,
        h1,
        h2,
        h3,
        h4 {
            color: black;
        }
    </style>

</head>

<body>
    <div class="container my-3">
        <h1 class="text-center">Eucaristía:</h1>
        <h3 class="text-center"></h3>
        <p dir="ltr"><strong style="color:red">Primera lectura</strong></p>
        <p dir="ltr"><strong>Lectura de la carta del apóstol san Pablo a los Efesios 6, 10-20</strong></p>
        <p dir="ltr">Hermanos: Buscad vuestra fuerza en el Señor y en su invencible poder. Poneos las armas de Dios,
            para poder afrontar las asechanzas del diablo, porque nuestra lucha no es contra hombres de carne y hueso
            sino contra los principados, contra las potestades, contra los dominadores de este mundo de tinieblas,
            contra los espíritus malignos del aire.<br />
            Por eso, tomad las armas de Dios para poder resistir en el día malo y manteneros firmes después de haber
            superado todas las pruebas. Estad firmes; ceñid la cintura con la verdad, y revestid la coraza de la
            justicia; calzad los pies con la prontitud para el evangelio de la paz. Embrazad el escudo de la fe, donde
            se apagarán las flechas incendiarias del maligno. Poneos el casco de la salvación y empuñad la espada del
            Espíritu que es la palabra de Dios.<br />
            Siempre en oración y súplica, orad en toda ocasión en el Espíritu, velando juntos con constancia, y
            suplicando por todos los santos. Pedid también por mí, para que cuando abra mi boca, se me conceda el don de
            la palabra, y anuncie con valentía el misterio del Evangelio, del que soy embajador en cadenas, y tenga
            valor para hablar de él como debo. <strong>Palabra de Dios.</strong></p>
        <br />
        <p dir="ltr"><strong>Salmo 143<br>
                R/. ¡Bendito el Señor, mi alcázar!
            </strong></p>
        <p dir="ltr">Bendito el Señor, mi Roca,<br>
            que adiestra mis manos para el combate,<br>
            mis dedos para la pelea. <strong>R/.</strong><br />
        </p>
        <p dir="ltr">Mi bienhechor, mi alcázar,<br>
            baluarte donde me pongo a salvo,<br>
            mi escudo y refugio,<br>
            que me somete los pueblos. <strong>R/.</strong><br />
        </p>
        <p dir="ltr">Dios mío, te cantaré un cántico nuevo,<br>
            tocaré para ti el arpa de diez cuerdas:<br>
            para ti que das la victoria a los reyes,<br>
            y salvas a David, tu siervo, de la espada maligna. <strong>R/.</strong></p>
        <br />
        <p dir="ltr"><strong style="color:red">Evangelio</strong></p>
        <p dir="ltr"><strong>Lectura del santo evangelio según san Lucas 13, 31-35</strong></p>
        <p dir="ltr">En aquel día, se acercaron unos fariseos a decir a Jesús:&nbsp; «Sal y marcha de aquí, porque
            Herodes quiere matarte». Jesús les dijo:<br>
            «Id y decid a ese zorro: &ldquo;Mira, yo arrojo demonios y realizo curaciones hoy y mañana, y al tercer día
            mi obra quedará consumada. Pero es necesario que camine hoy y mañana y pasado, porque no cabe que un profeta
            muera fuera de Jerusalén&rdquo;. ¡Jerusalén, Jerusalén, que matas a los profetas y apedreas a los que se te
            envían! Cuántas veces he querido reunir a tus hijos, como la gallina reúne a sus polluelos bajo las alas, y
            no habéis querido.<br>
            Mirad, vuestra casa va a ser abandonada. Os digo que no me veréis hasta el día en que digáis:
            &ldquo;¡Bendito el que viene en nombre del Señor!&rdquo;». <strong>Palabra del Señor. </strong></p>
        <br><br><br>

    </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.min.js') }}"></script>
</body>

</html>