<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ejercicios Espirituales{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boot/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botones.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/etiquetas.css') }}">

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'estructura/nav.html' %}
    <main>
        <div class="container">
            {% block content %}
            <!-- Contenido principal aquí -->
            {% endblock %}
        </div>
    </main>
    {% include 'estructura/footer.html' %}
    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootjs/bootstrap.min.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>