<header>
    <nav class="navbar navbar-expand ">
        <div class="nav navbar-nav d-flex justify-content-center w-100">
            <a class="nav-item nav-link active" href="/inicio">🏠</a>
            <a class="nav-item nav-link" href="/miercoles">3️⃣0️⃣</a>
            <a class="nav-item nav-link" href="/jueves">3️⃣1️⃣</a>
            <a class="nav-item nav-link" href="/viernes">0️⃣1️⃣</a>
            <a class="nav-item nav-link" href="/sabado">0️⃣2️⃣</a>
            <a class="nav-item nav-link" href="/domingo">0️⃣3️⃣</a>
        </div>
    </nav>
</header>